* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: "Epilogue", sans-serif;
}
a {
  color: black;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  padding-bottom: 30px;
}
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: end;
  padding-top: 30px;
  padding-right: 5%;
  list-style-type: none;
}

.icon h1 {
  /* color: white; */
  padding-top: 40px;
  padding-left: 20%;
  text-align: center;
}
.icon p {
  padding-left: 20%;
  font-size: 8px;
  text-align: center;
}
.close-menu {
  display: none;
}
.open-menu {
  display: none;
}
.hide {
  display: none;
}
li a {
  display: block;
  /* color: white; */
  padding: 14px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(70, 70, 70);
  color: white;
}

.main_body {
  width: 90%;
  margin: 0 auto;
}
#home_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 50px;
}
.intro {
  align-self: center;
  width: 60%;
  padding-right: 20%;
}
.intro h1 {
  text-transform: uppercase;
  margin-bottom: 10%;
  font-size: 60px;
}
.intro p {
  margin-bottom: 10%;
  font-size: 25px;
}
.intro a {
  font-size: 25px;
  background-color: black;
  color: white;
  padding: 10px 25px;
  border-radius: 26px;
  text-decoration: none;
  border: 2px solid black;
  box-shadow: -1px 1px 5px 2px rgb(0, 0, 0, 0.35);
}
.intro a:hover {
  background-color: white;
  color: black;
}
.home_image {
  width: 40%;
  height: 500px;
}
.home_image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: -1px 1px 10px 2px rgb(0, 0, 0, 0.35);
}
#services {
  margin: 10% 0;
  padding-top: 20px;
  box-shadow: 0 -4px 0  rgb(0, 0, 0, 0.35);
}
#services h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.servicespt1,
.servicespt2 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}
.service_img img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.ind_service {
  text-align: center;
  padding: 50px 30px;
  box-shadow: -1px 1px 10px 2px rgb(0, 0, 0, 0.35);
  border-radius: 8px;
}
.service_des h2 {
  margin: 20px 0;
}
.servicespt1 .ind_service {
  width: 33.33%;
}
.servicespt2 .ind_service {
  width: 50%;
}
#contact{
  margin: 10% 0;
  padding-top: 20px;
  box-shadow: 0 -4px 0  rgb(0, 0, 0, 0.35);
}
#contact h1{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.contact_header{
  text-transform: uppercase;
  text-align: center;
}
.contact_banner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
  width: 60%;
  margin: 20px auto;
}
.contact_banner img{
  height: 100%;
  box-shadow: -1px 1px 10px 2px rgb(0, 0, 0, 0.35);
  border-radius: 8px;
}
.contact_platform {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}
.contact_img img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.ind_platform {
  text-align: center;
  padding: 50px 30px;
  box-shadow: -1px 1px 10px 2px rgb(0, 0, 0, 0.35);
  border-radius: 8px;
  width: 50%;
}
.contact_des h2{
  margin: 10% 0;
}
.contact_des a{
  background-color: black;
  color: white;
  padding: 10px 25px;
  border-radius: 22px;
  text-decoration: none;
  border: 2px solid black;
  box-shadow: -1px 1px 5px 2px rgb(0, 0, 0, 0.35);
}
.footer{
  background-color: black;
  color: white;
  padding-bottom: 20px;
}
.footer-logo{
  padding: 2%;
}
.footer-details{
  display: flex;
  flex-direction: row;
  color: white;
  margin-bottom: 40px;
}
.detail-1,
.detail-2{
  width: 50%;
}
.detail-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.detail-1 div{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.detail-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.detail-2 a{
  text-decoration: none;
  color: white;
}
.detail-2 a:hover{
  text-decoration: underline;
}
.footer p{
  text-align: center;
  color: whitesmoke;
}
footer p a{
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .navbar.show-menu {
    transform: translateX(0);
  }
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    background-color: white;
    z-index: 100;
    /* overflow: hidden; */
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .navbar ul li {
    margin: 5% 0;
  }
  .open-menu {
    display: block;
    margin-left: auto;
    padding-top: 50px;
    padding-right: 8%;
  }
  .close-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 5%;
  }
  .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
  }
  #home_page {
    flex-direction: column-reverse;
    margin: 30% 0;
  }
  .intro {
    align-self: center;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    padding-right: 0;
  }
  .intro h1 {
    text-transform: uppercase;
    margin-bottom: 10%;
    font-size: 30px;
  }
  .intro p {
    margin-bottom: 10%;
    font-size: 20px;
  }
  .intro a{
    font-size: 20px;
  }
  .home_image {
    width: 100%;
    /* display: none; */
  }
  /* #services{
    margin-top: 60%;
  } */
  .servicespt1,
  .servicespt2 {
    display: flex;
    flex-direction: column;
  }
  .servicespt1 .ind_service {
    width: 100%;
  }
  .servicespt2 .ind_service {
    width: 100%;
  }
  .contact_platform {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
  }
  .ind_platform {
    width: 100%;
  }
  .footer-details{
    display: flex;
    flex-direction: column;
    color: white;
  }
  .detail-1,
  .detail-2{
    width: 100%;
    margin-bottom: 20px;
  }
}
